 * {margin: 0; padding: 0; }
body {font-family: Arial, Helvetica, Sans-serif; }
header {display: block;  padding: 5px; }
a{text-decoration: none;}

nav {background-color: #443A5C;}


nav a {color: white; text-decoration: none;}
nav a:hover {color: #ddd;}
nav ul {display: table; width: 100%; margin: auto;}
nav li {display: table-cell; text-align: center; padding: 1em;}
top ul {display: table; width: 100%; margin: auto;}
top li {display: table-cell; text-align: center;padding: 1em; }

main {overflow: auto; min-height: 30vh; width: 1000px; margin: auto; box-shadow: -1000px 0 0 #f7f7f7, 1000px 0 0 #f7f7f7; padding-top: 20px;}

footer {
  position: fixed;
  bottom: 0;
  padding: 1em;
  background-color:#999 ; 
  font-size: 0.8em; color: white;
  width: 100%;
  }


body {font-size: 1.2em; font-family: arial, helvetica, sans-serif}
/* input, label, select, textarea {float: left; width: 15em; margin-bottom: 1em;  padding: 0.5em;}
label { padding: 0; margin: 0; text-align: left;}
input[type="submit"] {margin-left: 15em; width: auto; padding: 0.5em 1em; clear: both; font-size: 1em;}
form {overflow: auto; clear: both; display: block;} */
input[type=text],
input[type=password],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:lightgreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

blockquote {display: table; margin-bottom: 1em; border-bottom: 1px solid #ccc; padding: 0.5em; }
blockquote p {display: table-cell; width: 90%; vertical-align: top;}
blockquote form {  display: table-cell; width: 10%;}

.errors {padding: 1em; border: 1px solid red; background-color: lightyellow; color: red; margin-bottom: 1em; overflow: auto;}
.errors ul {margin-left: 1em;}

form p {clear: both;}
input[type="checkbox"] {float: left; clear: left; width: auto; margin-right: 10px;}
input[type="checkbox"] + label {clear: right;}

.jokelist {display: table;}
.categories {display: table-cell; width: 20%; background-color: #333; padding: 1em; list-style-type: none;}
.categories a {color: white; text-decoration: none;}
.categories li {margin-bottom: 1em;}
.jokelist .jokes {display: table-cell; padding: 1em;}
.tc{text-align: center;}
table,td,th {  border: 1px solid #ccc; padding: 5px;}
th{background-color: #666; color:white}
table {  width: 100%;  border-collapse: collapse; margin: auto;}
tr:hover{background-color: yellow;}
.bt{border:1px solid #333; width: 150px; text-align: 
  center; padding: 10px; border-radius: 5px; background-color: #333; color:white; font-size:10px;}
.bt:hover{background-color: lightgreen;color:#111}
.bgg{background-color: #ccc;}
.bgb{background-color: blue;}
.bgy{background-color: yellow;}
.bgr{background-color: red;}
.bggr{background-color: lightgreen;}
.cw{color:white}
.b{border: 1px solid;}
.tc{text-align: center;}
.p1{padding: 10px;}

.seek input[type=text]{width: 30%;padding:10px;}
.seek input[type=submit]{padding:10px; width: 20%; border:1px solid #ccc; color:#111}
.sf{width: 60%; margin:auto ;}
